html {
    background-color: antiquewhite;
}
h1.titulo {
    color: maroon;
    text-align: center;
}

a.carta{
    float: left;
}

p.cafe {
    text-align: center;
    
}
a.contactos {
    float: right;
}